body {
    padding: 0%;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

h1 {
    /*color: rgb(255, 255, 255);*/
    font-weight: 900;
}

p {
    /*color: rgb(215, 215, 215);*/
}

hr {
    background-color: #111;
    border: 2px solid;
}

.sectionheader {
    width: 100%;
    margin-left: -50px;
}

/*effect*/
.black-gradient {
    position: absolute;
    width: inherit;
    height: inherit;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 1));

    /*animation: gradientFadeIn 1.1s ease;*/
}

@keyframes gradientFadeIn {
    0% {
        height: 200%;
    }

    100% {
        height: 100%;
    }
}

/*flex*/
.flexbox {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.item {
    display: block;
    box-sizing: border-box;
}

/*header*/
.header {
    text-align: center;
    background-color: #666666;
    background-image:
        /*linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),*/
        url(Img/headerbackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin-top: 50px;
}

.header h1 {
    color: rgb(255, 255, 255);
}

.header p {
    padding-right: 25px;
    color: rgb(215, 215, 215);
}

.header a {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 204, 137);
}

.header .flexbox {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: -25px;
    /*margin-left: -250px;*/
}

.header .item {
    width: 50%;
    /*padding-left: 60px;
    padding-right: 60px;*/
    z-index: 1;
}

.content img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header .right {
    text-align: right;
    padding-right: 150px;

    animation: fadeIn 2s;
    animation-delay: 0.15s ease;
}

.header .left {
    margin-left: -80px;
    text-align: left;
    padding: 100px;

    animation: fadeIn 3s;
    animation-delay: 0.2s ease;
}

@keyframes fadeIn {
    0% {
        margin-top: 80px;
        opacity: 0;
    }

    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

.header h1 {
    font-size: 60px;
    margin-bottom: 0;
}

/*navigation bar*/
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    /*position: -webkit-sticky;*/

    z-index: 2;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    height: 45px;
    background-color: #333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}

/*about me*/
.about-me {}

.about-me .flexbox {
    margin-left: 100px;
    /*padding: 100px 190px;*/
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 100px;
    justify-content: flex-start;
    align-items: flex-start;
}

.about-me .item {
    width: 100%;
}

.about-me h1 {
    float: left;
    width: fit-content;
    margin: 0px;
    color: #4a42be;
    margin-right: 10px;
}

.about-me svg {
    float: left;
}

.about-me p {
    width: 95%;
}

/*skill*/
.skill .flexbox {
    margin-left: 100px;
    padding: 100px 190px;
    justify-content: flex-start;
    align-items: flex-start;
}

.skill .item {
    width: 30%;
}

.skill h1 {
    float: left;
    width: fit-content;
    margin: 0px;
    color: #ff9c00;
    margin-right: 10px;
}

.skill svg {
    float: left;
}

.skill ul {
    margin-top: -12px;
    list-style-type: square;
}

/*project*/
.project {
    padding-top: 40px;
    padding-bottom: 40px;
}

.project .projectbox {
    display: flex;
    width: 100%;
    /*width: 967px;*/
    box-sizing: border-box;
    flex-wrap: wrap;
    text-decoration: none;

    justify-content: center;

    transition: 0.3s;
}

.project .projectbox::before {
    opacity: 0;
    position: absolute;
    /*content: "▶";*/
    content: "🖱️";
    font-size: 35px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    margin-left: -960px;
    margin-top: 15px;

    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease-out;
}

.project .projectbox:hover::before {
    opacity: 1;
}

.project .projectbox:hover{
    /*background-color: rgb(241, 238, 244);*/
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
    margin-bottom: 10px;
}

.project .projectItem {
    display: block;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    /*width: 46%;*/
    width: 480px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.project .flexbox {
    margin-left: 100px;
    padding: 0px 190px;
    justify-content: flex-start;
    align-items: flex-start;
}

.project .item {
    padding-left: 50px;
    padding-right: 50px;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.project h1 {
    float: left;
    width: fit-content;
    margin: 0px;
    color: rgb(68, 207, 119);
    margin-right: 10px;
}

.project h3 {
    margin: 0;
    transition: 0.3s;
    font-weight: 900;
}

.project h3:hover {
    font-size: 22px;
}

.project p {
    margin: 0;
    margin-top: 10px;
    color: rgb(0, 0, 0);
}

.project img {
    padding: 0;
    margin: 0;
    width: 100%;
    /*border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: rgb(55, 55, 55);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*free assets*/
.freeAsset .flexbox {
    margin-left: 100px;
    padding: 100px 190px;
    justify-content: flex-start;
    align-items: flex-start;
}

.freeAsset h1 {
    width: fit-content;
    margin: 0px;
}

.freeAsset .item {
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;

    transition: 0.3s ease;
}

.freeAsset .item:hover {
    width: 300px;
}

.freeAsset .card {
    margin: 40px;
    width: 100%;
}

.card img {
    width: inherit;
    object-fit: cover;
}

.card p {
    font-weight: 700;
    position: absolute;
    margin-top: -28px;
    margin-left: -15px;
    color: rgb(255, 255, 255);
    padding: 4px 13px;
    background-color: rgb(170, 62, 20);
}

/*contact*/
input[type=email],
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #d48607;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #6a410a;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px 50px;
    display: flex;
}

.contactSection {
    width: 50%;
    padding: 5px 30px;
}

.socialMedia {
    display: flex;
    flex-direction: column;
}

.socialMedia .socialitem {
    display: flex;
    flex-direction: row;
}

.socialitem p {
    margin-top: 25px;
    margin-left: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #111;
}

.socialitem a {
    margin-left: 80px;
    text-decoration: none;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 20px;

    transition: 0.3s;
}

.fa:hover {
    border-radius: 50%;
    opacity: 0.6;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-phone {
    background: #364461;
    color: white;
}

/*detail box*/
.detail-box {
    position: fixed;
    display: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.information-box {
    border-color: rgb(56, 56, 56);
    border-style: solid;
    border-width: 4px;
    /*border-radius: 15px;*/
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 90%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 7%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    overflow-y: scroll;
    overflow-x: hidden; 
}

.close-button{
    /*right: 2%;
    top: 3%;*/
    top: 4%;
    left: 1.5%;
    position: absolute;
}

.close-button svg{
    background-color: rgb(255, 135, 61);
    border-radius: 50%;
    padding: 10px;
    transition: 0.3s;
}

.close-button svg:hover{
    width: 38px;
    height: 38px;
    transform: rotate(180deg);
}

.information-box .project-content{
    width: 100%;
    padding: 30px 50px;
    box-sizing: border-box;
}

.information-box img{
    border: #111 solid 4px;

    margin-left: 14px;
    margin-right: 14px;
}

.flex-verticel{
    display: flex;
    flex-direction: column;
    width: inherit;
}

.flex-horizontal{
    display: flex;
    flex-direction: row;
    width: inherit;
}

.flex-center{
    justify-content: center;
}

.flex-item-center{
    align-self: center;
}

.information-box .project-content p{
    padding-left: 50px;
    text-indent: 40px;
}